# Email Configuration for Contact Form
# For Gmail, generate an "App Password" (requires 2-Step Verification)
# https://myaccount.google.com/apppasswords
EMAIL_USER=allazatradingllc@gmail.com
EMAIL_PASS=your_16_character_app_password_here
EMAIL_TO=allazatradingllc@gmail.com
